html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 4%;
  text-align: center;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
li {
  list-style: none outside none;
}
ul {
  padding-left: 0;
}
.display-table {
  box-sizing: border-box;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  table-layout: fixed;
}
.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}
header img {
  border-radius: 100%;
}
